body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 2rem;
  }
  #checkoutForm{
    background-color: rgb(217, 209, 247);
  }
  
  img {
    justify-content: center;
    max-width: 500px;
    height: auto;
  }
  form {
    width: 500px;
    margin: auto;
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #fff;
  }
  
  label {

    display: block;
    margin: 1rem 0 0.3rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="number"] {
    width: 482px;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }
  
  button {
    width: 500px;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 0.7rem 1.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  